/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    height: 100vh;
    font-family: Arial;
    font-size: 10px;
  }

  @media ( min-width: 400px ) {
    body {
      font-size: 14px;
    }
  }

  @media ( min-width: 600px ) {
    body {
      font-size: 20px;
      background-image: none;
      background-color: rebeccapurple;
    }
  }

  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: #4682B4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title,
  .site-subtitle{
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
  }
  
  .site-subtitle{
    font-style: italic;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;
  }